.layout .layout-name-container {
  z-index: 2;
  position: fixed;
  font-size: 3rem;
  top: 0;
  width: 100%;
  padding: 3rem;
  background: linear-gradient(180deg, rgba(254, 223, 223, 1) 0%, rgba(254, 223, 223, 1) 60%, rgba(255, 255, 255, 0) 100%);
}

.layout a {
  text-decoration: none;
}

.layout {
  overflow: hidden;
}

.layout .layout-name {
  font-weight: 600;
  font-size: 3rem;
  color: #0d520b;
  letter-spacing: 1px;
}

@media screen and (max-width: 800px) {
  .layout .layout-name {
    font-size: 2.5rem;

  }
}