.navigation-container {
  background-color: #eea5a7;
  border-radius: 100px;
  width: fit-content;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

}

.navigation-button {
  background-color: #eea5a7;
  outline: none;
  border: none;
  width: 25px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.navigation-button span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fedfdf;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navigation-button span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.navigation-button span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}

.navigation-button span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

.navigation-button.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 4px;
}

.navigation-button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navigation-button.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 4px;
}