.footer-container {
  background-color: #3c4323;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.footer-container h1 {
  color: var(--main-bg-color);
  font-size: 1.5rem;
  text-align: center;
}