@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,700&display=swap');

*,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

html {
  font-size: 10px;
  background-color: var(--main-bg-color);
  /* background-color: #bbc191; */
  scroll-behavior: smooth;
}

.section {
  overflow: hidden;
  opacity: 0;
  transform: translateY(6rem);
  transition: all 0.5s ease-in;
}

.section.show {
  overflow: hidden;
  opacity: 1;
  transform: translateY(0rem);
  transition: all 0.5s ease-in;
}

:root {
  --main-bg-color: #dde6c1;
  --olive-color: #606c38;
  --text-color: #1e2720;
  --accent-orange: #d98e02;
  --nav-color: #6e7847;
}